
<div id='user-page'>
  <div id='col1'>
  </div>
  <div id='image-column'>
    <% if (@user) %>
      <%= @user.email %>
      <% @images.each do |image| %>
        <tr>
          <%= image_tag( image.photo, height: 300) if image.photo.attached? %>
        </tr>
      <% end %>
    <% else %>
      User not found
    <% end %>
  </div>
  <div id='users-column'>
    <h2>Users:</h2>
    <% User.all.each do |user| %>
      <%= link_to user.email, user %>
    <% end %>
  </div>
</div>
